{% extends "testapp/layout.html" %}
{% block signup %}
{% load static %}

<!--<div class="container">-->
<!--  <h2>Signup</h2>-->
<!--  <form action="/signup/" class="needs-validation" method="POST">-->

<!--    {% csrf_token %}-->
<!--    <div class="form-group">-->

<!--      <label for="uname">Username:</label>-->
<!--      <input type="text" class="form-control" id="uname" placeholder="Enter username" name="username" required>-->
<!--&lt;!&ndash;      <div class="valid-feedback">Valid.</div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="invalid-feedback">Please fill out this field.</div>&ndash;&gt;-->
<!--    </div>-->


<!--    <div class="form-group">-->
<!--      <label for="email">Email:</label>-->
<!--      <input type="text" class="form-control" id="email" placeholder="Enter email" name="email" required>-->
<!--&lt;!&ndash;      <div class="valid-feedback">Valid.</div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="invalid-feedback">Please fill out this field.</div>&ndash;&gt;-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="pwd">Password:</label>-->
<!--      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>-->
<!--&lt;!&ndash;      <div class="valid-feedback">Valid.</div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="invalid-feedback">Please fill out this field.</div>&ndash;&gt;-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="cpwd">Confirm Password:</label>-->
<!--      <input type="password" class="form-control" id="cpwd" placeholder="Retype password" name="confirm_password" required>-->
<!--&lt;!&ndash;      <div class="valid-feedback">Valid.</div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="invalid-feedback">Please fill out this field.</div>&ndash;&gt;-->
<!--    </div>-->

<!--    <button type="submit" class="btn btn-primary">Submit</button>-->

<!--  </form>-->
<!--  <div>-->
<!--    <h2>{{signup_error}}</h2>-->
<!--  </div>-->
<!--</div>-->

<div class="container">
  <h2>Signup</h2>

{% if submitted %}
 <p class="success">
     Your message was submitted successfully. Thank you.
 </p>
{% else %}
  <form action="/testapp/signup/" method="POST" novalidate>

        {% csrf_token %}

        {{ form.first_name.label_tag }}
        {{ form.first_name }}

        {{ form.last_name.label_tag }}
        {{ form.last_name }}

        {{ form.username.label_tag }}
        {{ form.username }}

        {{ form.email.label_tag }}
        {{ form.email }}

        {{form.password1.label_tag }}
        {{ form.password1 }}

        {{ form.password1.label_tag }}
        {{ form.password2 }}
        {{ form.password2.help_text }}  <br>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

</div>

{% endif %}
{% endblock %}